name: Ejecutar App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run app
        run: python ./app.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Ejecutar app.py y actualizar resultados
          commit_user_name: Aldo Holgado [GitHub Actions]
          commit_user_email: aldoholgado26@gmail.com
          commit_author: aldoholgado
